<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wqt.iccc2016">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wqt.HotelAndTravelActivity"
            android:label="@string/title_activity_hotel_and_travel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.ProgramActivity"
            android:label="@string/title_activity_program"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wqt.ShowPicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.GeneralChairsActivity"
            android:label="@string/title_activity_general_chairs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CommitteeActivity"
            android:label="@string/title_activity_committee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.VersionActivity"
            android:label="@string/title_activity_version"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.TechnicalProgramChairsActivity"
            android:label="@string/title_activity_technical_program_chairs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.MemberActivity"
            android:label="@string/title_activity_member"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.TechnicalProgramCommitteeActivity"
            android:label="@string/title_activity_technical_program_committee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.CommitteeMainActivity"
            android:label="@string/title_activity_committee_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.WayToHotelActivity"
            android:label="@string/title_activity_way_to_hotel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.MapOfHotelActivity"
            android:label="@string/title_activity_map_of_hotel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qpf.HotelsAroundActivity"
            android:label="@string/title_activity_hotels_around"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>